# Jekyll and NPM build directories
_site
node_modules
css/main.css

# temp files
Thumbs.db
.DS_Store

!.gitkeep

# Ruby dotfiles
.rbenv-version
.rvmrc

# vi[m] swap files
*~

# Jekyll runtime temp and cache
.jekyll-metadata
.sass-cache/

# development files
*/*.css.map
