---
layout: null
---

<FilesMatch "\.html$">
  H2PushResource add /js/blogster.{{site.build}}.js critical
  H2PushResource add /css/main.{{site.build}}.css
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+).(d+).(js|css)$ $1.$3 [L]
