<ul class="social">
  <li id="copyleft">
    {{ site.time | date: '%Y' }}
  </li>
  <li id="authorname">
   {{ site.title }}
  </li>
  <li>
    <a href="https://github.com/{{ site.author.github }}" rel="noopener" target="_blank">go to github
      {% include github.svg %}
    </a>
  </li>
 <li>
    <a href="https://twitter.com/{{ site.author.twitter }}" rel="noopener" target="_blank">go to twitter
      {% include twitter.svg %}
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" rel="noopener" target="_blank">go to linkedin
      {% include linkedin.svg %}
    </a>
  </li>
  <li>
    <a href="/feed.xml">checkout my feed
      {% include feed.svg %}
    </a>
  </li>
</ul>
