<ul class="social">
  <li id="copyleft">
    {{ site.time | date: '%Y' }}
  </li>
  <li id="authorname">
   {{ site.title }}
  </li>
  <li>
    <a href="https://github.com/{{ site.author_details.github }}" target="_blank">
      {% include github.svg %}
    </a>
  </li>
 <li>
    <a href="https://twitter.com/{{ site.author_details.twitter }}" target="_blank">
      {% include twitter.svg %}
    </a>
  </li>
  <li>
    <a href="https://linkedin.com/in/{{ site.author_details.linkedin }}" target="_blank">
      {% include linkedin.svg %}
    </a>
  </li>
  <li>
    <a href="/feed.xml">
      {% include feed.svg %}
    </a>
  </li>
</ul>
