
.navbar {
  padding: 0pt;
}

.navbar-blog {
  font-weight: 500;
  //background-color: $footer-color;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  padding: 0pt;
  border-bottom: $navlink-color $borderbottom solid;
  line-height: 1em;
  .container {
    background: rgba(255, 255, 255, 0.8);
    //opacity: 80%;
  }
}

.navbar-collapse {
  justify-content: flex-end;
  font-size: 1.0rem;
  padding: 0.0rem;
}

.navbar-light .navbar-nav .nav-link.active {
  opacity: 1;
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  color: $navlink-color;
  &:hover {
    color: $main-color;
  }
}

