//$main-color: rgb(75, 180, 125);
$main-color: rgb(2, 139, 145);
$navlink-color: #666;
$footer-color: #fff;
$toc-color: rgb(247, 248, 248);

$borderthickness: 0pt;
$borderleft: 1pt; //$borderthickness;
$borderright: 1pt; //$borderthickness;
$borderbottom: $borderthickness;
$bordertop: $borderthickness;
