---
layout: layout
---

<article>

  <section class="byline">
    <h1>{{ page.title }}</h1>

    <span>{{ page.date | date: "%A, %B %e, %Y" }}</span>
    {% for category in page.categories %}
    <a href="{{ site.url }}/{{ site.category_dir }}/{{ category }}" class="btn btn-blogster">{{ category }}</a>
    {%- endfor -%}
  </section>

  {% if page.toc %}
  {% include spoiler.html display="Table of Contents" %}
  {% endif %}

  {{ content }}

  <div class="pull"></div>
</article>


{% include post-nav.html %}
